@import url('https://fonts.googleapis.com/css2?family=Space+Grotesk&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Abril+Fatface&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Lobster+Two&display=swap');


* {
    margin: 0px;
    padding: 0px;
}


.prof-box {
    display: flex;
    align-items: flex-start;
    /* Mude para flex-start para alinhar no topo */
    justify-content: center;
    background-size: cover;
}

.conte {
    display: flex;
    align-items: flex-start;
    justify-content: center;
    background-size: cover;
}

h1 {
    font-family: 'Abril Fatface', serif;
}

.main {
    background-color: rgb(130, 139, 170);
    display: flex;
    flex-direction: column;
    width: 50vw;
    border-radius: 10px;
    box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.5);
}

.foto {
    display: flex;
    align-items: center;
}

.foto img {
    width: 50%;
    height: 35%;
    object-fit: cover;
    margin-left: 15px;
    border-radius: 10%;
    margin-top: 15px;
}

.foto p {
    color: rgb(190, 220, 243);
    background-color: rgb(0, 22, 22);
    margin-left: 15px;
    margin-right: 15px;
    flex: 1;
    text-align: center;
    font-family: 'Space Grotesk', sans-serif;
    word-wrap: break-word;
    overflow: hidden; /* Oculta o conteúdo que excede a área da div */
}


.texto img {
    width: 50%;
    height: 35%;
    object-fit: cover;
    margin-left: 15px;
    border-radius: 10%;
    margin-top: 15px;
}


.texto {
    background-color:rgb(130, 165, 170);
    display: flex;
    flex-direction: column;
    width: 50vw;
    border-radius: 10px;
    box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.5);
   
}


footer {
    background-color: rgb(157, 238, 211);
    /* width: var(--larguraC);
    height: calc(var(--alturaC)); */
    text-align: center;
    padding: 10px;
    display: block;
}
 

 #icon {
    width: 7%; 
    height: 5%; 
    margin-right: 10px;
    margin-left: 5px;
    align-self: self-end;
}

#diciplina{
    margin: 10px;
    color: rgb(2, 5, 37);
    
}

hr {
    border: 0;
    width: 100%;
    height: 2px;
    background-color: rgb(126, 55, 55);
   
}

.linha {
    width: 5px;
    height: 75vh;
    border: 0;
    width: 5px;
    /* Alterado de height para width para representar a largura da linha */
    background-image: linear-gradient(to bottom,  rgb(130, 139, 170),rgb(130, 165, 170));
    /* Gradiente colorido na direção vertical */
    margin: 20px;
    border-radius: 5px;
    /* Valor de border-radius para criar uma ondulação */
}

/* Adicionando um elemento de estilo ao centro da linha */
hr::after {
    display: inline-block;
    font-size: 1.5em;
    margin: 0 10px;
    /* Espaçamento ao redor do emoji */
}

/* .foto img:hover{
    transform: scale(1.1);
} */

p {
    margin-left: 10px;
    
}
.foto p{
    font-family: 'Lobster Two', sans-serif;
}

@media screen and (min-width:768px) {
    nav .menu-mobile {
        display: none;
    }

    nav .menuIcon {
        display: none;
    }

    nav .menu-desktop {
        display: flex;
    }

}