@import url('https://fonts.googleapis.com/css2?family=Space+Grotesk&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Abril+Fatface&display=swap');



* {
    margin: 0px;
    padding: 0px;
}

body{
   background-color: rgb(241, 224, 177);
}

.utf-box {
    display: flex;
    align-items: flex-start;
    /* Mude para flex-start para alinhar no topo */
    justify-content: center;
    background-size: cover;
}

.conte {
    display: flex;
    align-items: flex-start;
    /* Mude para flex-start para alinhar no topo */
    justify-content: center;
    background-size: cover;
}

.main {
    background-color: #dacc90c4;
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 75vw;
    border-radius: 10px;
    box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.5);
    padding: 20px; /* Ajuste o valor do padding conforme necessário */
}

.main2 {
    background-color: #cbcebe;
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 75vw;
    border-radius: 10px;
    box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.5);
    padding: 20px; /* Ajuste o valor do padding conforme necessário */
}

.main2 p{
    font-family: 'Space Grotesk', sans-serif;
}

.main p{
    width: 75%;
    font-size: large;
    margin-bottom: 15px;
    font-family: 'Space Grotesk', sans-serif;

}


.foto {
    width: 100%;
    max-width: 500px;
    height: 250px;
    aspect-ratio: 8 / 12;
    border-radius: 10px;
    overflow: hidden;
    margin-bottom: 20px;
    /*pra não cortar a borda arredondada*/
    
}

.foto img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    aspect-ratio: 6/ 10;
    /* border-radius: 10%; */
}

.video-container iframe {
    aspect-ratio: 6/ 10;
    width: 40vw;
    height: 40vh;
}


.footer {
    background-color: #7caa96;
    /* width: var(--larguraC);
    height: calc(var(--alturaC)); */
    text-align: center;
    padding: 10px;
    display: block;
}

hr {
    border: 0;
    height: 5px;
    background-image: linear-gradient(to right,  #dacc90c4,#cbcebe);
    /* Gradiente colorido */
    margin: 20px 0;
}

h1{
    font-family: 'Abril Fatface', serif;
}

/* Adicionando um elemento de estilo ao centro da linha */
hr::after {
    display: inline-block;
    font-size: 1.5em;
    margin: 0 10px;
}

.links {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 20px; 
}


.links a {
    display: inline-block;
    margin: 0 10px; 
}

.links img {
    width: 50px; 
    height: 50px;

}
.links a:hover {
    transform: scale(1.1); 
}

@media screen and (min-width:768px) {
    nav .menu-mobile {
        display: none;
    }

    nav .menuIcon {
        display: none;
    }

    nav .menu-desktop {
        display: flex;
    }

}